<html>
<head>
  <title><%= params[:codes] %> - liu.heroku.com</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<FRAMESET ROWS="*,0" FRAMEBORDER=NO FRAMESPACING=0 BORDER=0>
<FRAME SRC="<%= @url %>" NAME="frame">
</FRAMESET>

<NOFRAMES>
Sorry, your browser does not support frames. Click <A HREF="<%= @url %>">here</A>.
</NOFRAMES>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7734426-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
