<html>
<head>
  <title><%= params[:codes] %> - liu.heroku.com</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<FRAMESET ROWS="*,0" FRAMEBORDER=NO FRAMESPACING=0 BORDER=0>
<FRAME SRC="<%= @url %>" NAME="frame">
</FRAMESET>

<NOFRAMES>
Sorry, your browser does not support frames. Click <A HREF="<%= @url %>">here</A>.
</NOFRAMES>

http://timeedit.liu.se/4DACTION/WebShowSearch/5/1-0?wv_type=6&wv_ts=20091024T212118X8249&wv_search=TDDC90&wv_startWeek=943&wv_stopWeek=950&wv_first=0&wv_addObj=&wv_delObj=&wv_obj1=35539000&wv_obj2=35592000&wv_graphic=Grafiskt+format

</body>
</html>
