<html>
<head>
  <title><%= params[:codes] %> - liu.heroku.com</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<FRAMESET ROWS="*,0" FRAMEBORDER=NO FRAMESPACING=0 BORDER=0>
<FRAME SRC="<%= @url %>" NAME="frame">
</FRAMESET>

<NOFRAMES>
Sorry, your browser does not support frames. Click <A HREF="<%= @url %>">here</A>.
</NOFRAMES>

</body>
</html>
