<html>
<head>
  <title>liu.heroku.com</title>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

  <style type="text/css">

  body {
    margin: 20px;
  }

  @font-face {
    font-family: ChunkFive;
    src: url(/fonts/Chunkfive.eot); /* for IE */
  }

  @font-face {
    font-family: ChunkFive;
    src: url(/fonts/Chunkfive.woff) format("woff"), url(/fonts/Chunkfive.otf) format("opentype");
  }

  body {
    font-family: Futura, Tahoma, sans-serif; 
    font-weight: normal;
  }

  div.example { 
    font-family: ChunkFive, Futura, Tahoma, sans-serif; 
    font-weight: bold;
    font-size: 48pt;
    padding: 50px;
    padding-bottom: 15px;
    padding-top: 25px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: #020;
    background-color: #ddf;
    line-height: 1em;
    width: 500px;
  }
  
  p {
    margin-left: 40px;
    font-size: 14pt;
    margin-top:0.5em;
    margin-bottom:0.5em;
  }

  p.error {
    margin-left: 40px;
    font-size: 20pt;
    color: red;
  }  

  ul {
    font-size: 12pt;
  }
  
  a {
    color: #383;
    text-decoration: none;
  }

  h2 {
    margin-left: 20px;
    font-size: 16pt;
    font-weight: normal;
  }

  em {
    color: #338;
    font-style: normal;
  }

  strong {
    color: #383;
    font-weight: normal;
  }

  </style>

</head>
<body>

<div class="example"><em>liu</em>.heroku.com</div>

<% if @error %>
  <p class="error">
    <%= @error %>
  </p>
<% end %>

<h2>TimeEdit shortcut</h2>

<p><a href="/Y3A">liu.heroku.com/Y3A</a></p>
<p><a href="/TDDB44,TDDC90,TDDC73">liu.heroku.com/TDDB44,TDDC90,TDDC73</a></p>

<ul>A single course code or a list of groups works aswell.</ul>

<h2>iCal feed</h2>

<ul>Just append "/ical" to get a feed.</ul>

<p><a href="/Y3A/ical">liu.heroku.com/Y3A/ical</a></p>
<p><a href="/TDDB44,TDDC90,TDDC73/ical">liu.heroku.com/TDDB44,TDDC90,TDDC73/ical</a></p>

<h2>Filter the iCal feed</h2>

<ul>No need to append "/ical" when filtering.
Available filters: FO, LE, LA, LE, GU, SE</ul>

<p><a href="/TDDB44,TDDC90,TDDC73/no/LA">liu.heroku.com/TDDB44/no/LA</a></p>
<p><a href="/TDDC73/only/FO,LE">liu.heroku.com/TDDC73/only/FO,LE</a></p>
<p><a href="/Y3A/only/FO,LE">liu.heroku.com/Y3A/only/FO,LE</a></p>
<p><a href="/Y3A/no/FO,LE">liu.heroku.com/Y3A/no/FO,LE</a></p>

<ul>You can exclude courses from groups.</ul>

<p><a href="/Y3A/exclude/TSDT08,TATA26">liu.heroku.com/Y3A/exclude/TSDT08,TATA26</a></p>
<p><a href="/Y3A/no/FO,LE/exclude/TSDT08">liu.heroku.com/Y3A/no/FO,LE/exclude/TSDT08</a></p>

<h2>Bugs? Nah...</h2>
<p>You could try get patrik&#64;starkast.net to fix them, but he probably wont. 
  <br />You know, he has a lot of things to do...</p>
<p>If you want things fixed, fork the <a href="http://github.com/dentarg/liu.heroku.com">GitHub</a> repository and fix it yourself.</p>

<h2>Powered by</h2>
<p><a href="http://www.ruby-lang.org/">Ruby</a>, <a href="http://www.sinatrarb.com/">Sinatra</a> and <a href="http://heroku.com/">Heroku</a>.</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7734426-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
  
